{% extends "::base.html.twig" %}

{% block title %}BasketballBundle:Main:showAllPlayers{% endblock %}

{% block body %}
    <ol>
        {% for player in allPlayers %}
            <li>{{ player.name }} - <a href="{{ path('showPlayer', {'id': player.id}) }}">Edytuj</a></li>
        {% endfor %}
    </ol>
{% endblock %}
